---
import ResourceCard from './ResourceCard.astro';
import { tt } from '../i18n.js';
const lang = 'es';
const { cat } = Astro.props;
---
<div class="cat" id={cat.id}>
  <h3><span aria-hidden="true">{cat.emoji}</span> {tt(cat.title, lang)}</h3>
  {cat.blurb && <p class="blurb">{tt(cat.blurb, lang)}</p>}
  <div class="cards">
    {cat.items.map((item) => <ResourceCard item={item} />)}
  </div>
</div>
